ul.dogs-list {
  list-style-type: none;
  width: 500px;
  margin: 0 auto;
  padding: 0;
}

ul.dogs-list li {
  display: block;
  margin: 1rem 0;
}

ul.dogs-list li img {
  width: 100%;
  height: auto;
}
