ul.dogs-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

ul.dogs-list li {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

.imageContainer {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.predictionsContainer {
  position: absolute;
}

.predictionBorder:hover {
  cursor: pointer;
  stroke: #fff;
}

.textLabel {
  background-color: grey;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0 5px;
  line-height: 20px;
  border-radius: 2px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
  user-select: none;
}
